@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url("grid.css");

body {
    color: transparent;
    background: #13003C;
    /* font-family: sans-serif; */
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    opacity: 0;
    /* background-image: url(images/bg.svg); */
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    /* scroll-snap-align: start; */
}

.centerMe {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 10vh;
}

h1 {
    font-weight: 700;
    padding: 3.2vh;
    padding-top: 9vh;
    font-size: 2em;
}

.centerMe h1, .centerMe h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}
.centerMe h1{
    font-size: 15vw;
    font-weight: 700;
}
.centerMe h2{
    font-size: 5vw;
    font-weight: 300;
    margin-left: 42vw;
    width: fit-content;
    text-align: left;
}
.centerMe b{
    color: #D051E4;
    background: linear-gradient(#D051E4 30%, #ffffff 31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.floorDiv{
    width: 100%;
    height: 33%;
    /* margin-top: 3%; */
    background: rgb(98,63,171);
    background: linear-gradient(rgba(98,63,171,1) 0%, rgba(98,63,171,0) 100%);
}
.bgDiv{
    height: 4vw;
    /* width: 100vw; */
    background-image: url(images/bg.svg);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    /* animation: bgAnim 1000ms linear infinite; */
}
#biker{
    position: absolute;
    height: 30vw;
    top: 10vh;
    left: 7vw;
}
header{
    position: sticky;
    width: 90%;
    padding-right: 10%;
    top: 0;
    text-align: right;
    line-height: 4em;
    background-color: #13003C;
    z-index: 1;
}
header a{
    margin: 1%;
    color: #ffffff;
    text-decoration: none;
}


.loader {
    position: relative;
    width: 64px;
    margin-left: calc(50% - 32px);
    height: 64px;
    border: 2px solid hotpink;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    animation: spinMe 400ms linear infinite;
}
.card{
    background-color: #ffffff;
    color: #13003B;
    width: 350px;
    max-width: 80vw;
    /* width: 25%; */
    margin: 3.2vh;
    padding: 16px;
    padding-bottom: 24px;
    border-bottom: 4px solid #D051E4;
}
.card img{
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}
.card p{
    margin-top: 0;
    width: 100%;
}
.card a{
    text-decoration: none;
}
.card>a{
    background-color: #D051E4;
    color: #ffffff;
    padding: 12px 20px;
    /* margin-left: 200px; */
    border-radius: 4px;
    white-space: nowrap;
    transition: box-shadow 200ms ease-in-out 0s;
    box-shadow: 0 0 0 0 rgb(208,0,0), 0 0 0 0 rgba(255, 183, 28, 0.6) inset, 0 0 0 0 rgb(0,0,228), 0 0 0 0 rgb(23, 149, 233) inset;
}
.card>a:focus{
    outline: none;
    /* box-shadow: 0 0 0 2px rgba(255,255,255,.4) inset; */
    box-shadow: 2px 2px 0 0 rgb(208,0,0), -2px -2px 0 0 rgba(255, 183, 28, 0.6) inset, -2px -2px 0 0 rgb(0,0,228), 2px 2px 0 0 rgb(23, 149, 233) inset;
}
.card .hflex{
    width: 100%;
}
.card>a:hover{
    /* background-color: #bf4bd1; */
    box-shadow: 4px 4px 0 0 rgb(208,0,0), -4px -4px 0 0 rgba(255, 183, 28, 0.6) inset, -4px -4px 0 0 rgb(0,0,228), 4px 4px 0 0 rgb(23, 149, 233) inset;
}
.labels span{
    font-size: 0.8em;
    background-color: #dedfe4;
    color: #333333;
    padding: 4px 16px;
    margin-left: 4px;
    border-radius: 999px;
    pointer-events: none;
}
.card .spacer{
    flex-grow: 1;
}
.labels span::after{
    content: attr(data);
}
.wrapperGrid div, .wrapperGrid img{
    border-radius: 4px;
}
.justified{
    justify-content: space-evenly;
    align-content: flex-start;
}
.justified::after{
    display: none;
}
.vflex, .hflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vflex{
    flex-direction: column;
}
section>p{
    margin: 3.2vh;
}
.mySkill{
    position: relative;
    gap: 1vw;
    margin: 3.2vh;
    bottom: 0;
    height: 320px;
    width: 50%;
    align-items: flex-end;
}
.mySkill div{
    width: 16%;
    border: 1px solid black;
    background-color: #623fab;
    box-shadow: 0 -4px 0 0 #D051E4 inset;
}
.mySkill div::after{
    position: absolute;
    bottom: -2em;
    width: 16%;
    text-align: center;
    content: attr(data);
}
.mySkill div[data=HTML]{
    height: 100%;
}
.mySkill div[data=CSS]{
    height: 100%;
}
.mySkill div[data=SVG]{
    height: 90%;
}
.mySkill div[data=JavaScript]{
    height: 80%;
}
.mySkill div[data=React]{
    height: 50%;
}
.mySkill div[data=Vue]{
    height: 40%;
}
.socialDiv{
    background-color: #ffffff;
    width: 350px;
    max-width: 80%;
    margin: 3.2vh;
    padding: 16px;
    padding-bottom: 24px;
    border-bottom: 4px solid #D051E4;
    align-items: flex-start;
    border-radius: 4px;
}
.socialDiv a{
    margin: 1.2em;
    padding-left: 2em;
    color: #13003B;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: filter 200ms linear 0s;
}
.socialDiv a:hover{
    /* color: #D051E4; */
    filter: invert(48%) sepia(36%) saturate(5572%) hue-rotate(261deg) brightness(94%) contrast(90%);
}
.socialDiv a::before{
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    margin-left: -2.8em;
    margin-top: -6px;
    /* padding: 1em; */
    background-size: contain;
}
.socialDiv a[data=tw]::before{
    background-image: url(so/twitter.png);
}
.socialDiv a[data=fb]::before{
    background-image: url(so/facebook.png);
}
.socialDiv a[data=cp]::before{
    background-image: url(so/codepen.png);
}
.socialDiv a[data=md]::before{
    background-image: url(so/medium.png);
}
.socialDiv a[data=gh]::before{
    background-image: url(so/github.png);
}

@keyframes spinMe {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* @keyframes bgAnim {
    100%{background-position: -1% 50%;}
} */
@media screen and (max-width: 900px) {
    header{
        padding-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    #biker{
        height: 60vw;
        top: 1vh;
        left: -6vw;
    }
    .mySkill{
        width: 90%;
    }
    .mySkill div[data=JavaScript]::after{
        content: 'JS';
    }
    .mobileFix{
        flex-direction: column;
    }
    section{
        width: 100vw;
        height: 100vh;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    section h1{
        position: absolute;
        margin-top: -4em;
    }
    .wrapperGrid{
        width: fit-content;
        flex-wrap: nowrap;
    }
    .card{
        scroll-snap-align: center;
    }
    section:first-of-type{
        min-height: 50vh;
        height: 80vh;
    }
    section:last-of-type{
        margin-bottom: 15vh;
        height: fit-content;
    }
    section:first-of-type h1{
        position: relative;
        margin: 0;
    }
}