@import url("font.css");
@import url("vars.css");
@import url("grid.css");

body {
    background: var(--bgColor);
    font-family: 'Inter', sans-serif;
    color: var(--txtColor);
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
}

.centerMe {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

h1 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-left: 3.2vh;
    padding-top: 8vh;
    font-size: 2em;
}

.centerMe h1, .centerMe h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}
.centerMe h1{
    font-size: 15vw;
    font-weight: 700;
}
.centerMe h2{
    font-size: 5vw;
    font-weight: 300;
    margin-left: 42vw;
    width: fit-content;
    text-align: left;
}
.centerMe b{
    color: var(--primary);
    background: linear-gradient(var(--primary) 30%, var(--txtColor) 31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.floorDiv{
    width: 100%;
    height: 33%;
    background: rgb(98,63,171);
    background: linear-gradient(rgba(98,63,171,1) 0%, rgba(98,63,171,0) 100%);
}
.bgDiv{
    height: 4vw;
    background-image: url(images/bg.svg);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}
#biker{
    position: absolute;
    height: 30vw;
    top: 10vh;
    left: 7vw;
}
header{
    position: sticky;
    width: 90%;
    padding-right: 10%;
    top: 0;
    text-align: right;
    line-height: 4em;
    background-color: var(--bgColor);
    z-index: 1;
}
header a{
    position: relative;
    margin: 1%;
    color: var(--txtColor);
    text-decoration: none;
}
header a:hover::after{
    width: 100%;
}
header a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--primary);
    transition: width 300ms linear 0s;
}

.card{
    background-color: var(--txtColor);
    color: var(--bgColor);
    /* width: 350px;
    width: calc(25% - 64px); */
    flex-basis: 350px;
    flex-grow: 1;
    max-width: 80vw;
    padding: 16px;
    padding-bottom: 24px;
    border-bottom: 4px solid var(--primary);
}
.card img{
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}
.card p{
    margin-top: 0;
    width: 100%;
}
.card a{
    text-decoration: none;
}
.card>a{
    background-color: var(--primary);
    color: var(--txtColor);
    padding: 12px 20px;
    border-radius: 4px;
    white-space: nowrap;
    transition: box-shadow 200ms ease-in-out 0s;
    box-shadow: 0 0 0 0 rgb(208,0,0), 0 0 0 0 rgba(255, 183, 28, 0.6) inset, 0 0 0 0 rgb(0,0,228), 0 0 0 0 rgb(23, 149, 233) inset;
}
::selection{
    background-color: var(--triatery);
    color: var(--txtColor);
}
section:nth-of-type(3) .card{
    border-color: var(--secondary);
}
section:nth-of-type(4) .card{
    border-color: var(--triatery);
}
section:nth-of-type(3) .card>a{
    background-color: var(--secondary);
    box-shadow: 0 0 0 0 rgb(143,0,0), 0 0 0 0 rgba(255, 183, 28, 0.6) inset, 0 0 0 0 rgb(0,0,158), 0 0 0 0 rgb(23, 149, 233) inset;
}
section:nth-of-type(4) .card>a{
    background-color: var(--triatery);
    box-shadow: 0 0 0 0 rgb(98,0,0), 0 0 0 0 rgba(255, 183, 28, 0.6) inset, 0 0 0 0 rgb(0,0,171), 0 0 0 0 rgb(23, 149, 233) inset;
}

section:nth-of-type(3) .card>a:focus{
    box-shadow: 2px 2px 0 0 rgb(143,0,0), -2px -2px 0 0 rgba(255, 183, 28, 0.6) inset, -2px -2px 0 0 rgb(0,0,158), 2px 2px 0 0 rgb(23, 149, 233) inset;
}
section:nth-of-type(4) .card>a:focus{
    box-shadow: 2px 2px 0 0 rgb(98,0,0), -2px -2px 0 0 rgba(255, 183, 28, 0.6) inset, -2px -2px 0 0 rgb(0,0,171), 2px 2px 0 0 rgb(23, 149, 233) inset;
}

section:nth-of-type(3) .card>a:hover{
    box-shadow: 4px 4px 0 0 rgb(143,0,0), -4px -4px 0 0 rgba(255, 183, 28, 0.6) inset, -4px -4px 0 0 rgb(0,0,158), 4px 4px 0 0 rgb(23, 149, 233) inset;
}
section:nth-of-type(4) .card>a:hover{
    box-shadow: 4px 4px 0 0 rgb(98,0,0), -4px -4px 0 0 rgba(255, 183, 28, 0.6) inset, -4px -4px 0 0 rgb(0,0,171), 4px 4px 0 0 rgb(23, 149, 233) inset;
}
.card>a:focus{
    outline: none;
    box-shadow: 2px 2px 0 0 rgb(208,0,0), -2px -2px 0 0 rgba(255, 183, 28, 0.6) inset, -2px -2px 0 0 rgb(0,0,228), 2px 2px 0 0 rgb(23, 149, 233) inset;
}
.card>a:hover{
    box-shadow: 4px 4px 0 0 rgb(208,0,0), -4px -4px 0 0 rgba(255, 183, 28, 0.6) inset, -4px -4px 0 0 rgb(0,0,228), 4px 4px 0 0 rgb(23, 149, 233) inset;
}
.labels span{
    font-size: 0.8em;
    background-color: #dedfe4;
    color: #333333;
    padding: 4px 16px;
    margin-left: 4px;
    border-radius: 999px;
    pointer-events: none;
}
.card .spacer{
    flex-grow: 1;
}
.labels span::after{
    content: attr(data);
}

section>p{
    margin: 3.2vh;
}
.mySkill{
    position: relative;
    gap: 1vw;
    margin: 3.2vh;
    bottom: 0;
    height: 320px;
    width: 50%;
    align-items: flex-end;
}
.mySkill div{
    width: 16%;
    border: 1px solid black;
    background-color: var(--triatery);
    box-shadow: 0 -4px 0 0 var(--primary) inset;
}
.mySkill div::after{
    position: absolute;
    bottom: -2em;
    width: 16%;
    text-align: center;
    content: attr(data);
}
.mySkill div[data=HTML]{
    height: 100%;
}
.mySkill div[data=CSS]{
    height: 100%;
}
.mySkill div[data=SVG]{
    height: 90%;
}
.mySkill div[data=JavaScript]{
    height: 80%;
}
.mySkill div[data=React]{
    height: 50%;
}
.mySkill div[data=Vue]{
    height: 40%;
}
.aboutPhoto{
    margin: 3.2vh;
    gap: 3vh;
    align-items: flex-start;
}
.aboutPhoto img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.socialDiv{
    background-color: var(--txtColor);
    width: 350px;
    max-width: 80%;
    margin: 3.2vh;
    padding: 16px;
    padding-bottom: 24px;
    border-bottom: 4px solid var(--primary);
    align-items: flex-start;
    border-radius: 4px;
}
.socialDiv a{
    margin: 1.2em;
    padding-left: 2em;
    color: #13003B;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: filter 200ms linear 0s;
}
.socialDiv a:hover{
    filter: invert(48%) sepia(36%) saturate(5572%) hue-rotate(261deg) brightness(94%) contrast(90%);
}
.socialDiv a::before{
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    margin-left: -2.8em;
    margin-top: -6px;
    background-size: contain;
}
.socialDiv a[data=tw]::before{
    background-image: url(so/twitter.png);
}
.socialDiv a[data=fb]::before{
    background-image: url(so/facebook.png);
}
.socialDiv a[data=cp]::before{
    background-image: url(so/codepen.png);
}
.socialDiv a[data=md]::before{
    background-image: url(so/medium.png);
}
.socialDiv a[data=gh]::before{
    background-image: url(so/github.png);
}

@media screen and (max-width: 900px) {
    header{
        padding-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    #biker{
        height: 70vw;
        top: 1vh;
        left: -10vw;
    }
    .mySkill{
        width: 90%;
    }
    .mySkill div[data=JavaScript]::after{
        content: 'JS';
    }
    .mobileFix{
        flex-direction: column;
    }
    section{
        width: 100vw;
        min-height: 0;
        height: fit-content;
        margin-bottom: 7em;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    section~a{
        position: absolute;
        margin-top: -150px;
    }
    section h1{
        position: absolute;
        margin-top: -4em;
        padding-top: 7vh;
        pointer-events: none;
        touch-action: none;
    }
    .wrapperGrid{
        width: fit-content;
        flex-wrap: nowrap;
    }
    .card{
        scroll-snap-align: center;
        margin: 1.2vh;
    }
    .card:first-of-type{
        margin-left: 3.2vh;
    }
    .card:last-of-type{
        margin-right: 3.2vh;
    }
    section:first-of-type{
        min-height: 50vh;
        height: 70vh;
    }
    section:last-of-type{
        margin-bottom: 15vh;
        height: fit-content;
    }
    section:first-of-type h1{
        position: relative;
        margin: 0;
    }
    .aboutPhoto{
        flex-direction: column;
        align-items: center;
    }
    header a::after{
        height: 2.6em;
    }
}