body {
    background-color: rgb(24, 9, 59);
    color: hotpink;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

section {
    min-height: 100vh;
}

section:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, 0.06);
}

.centerMe {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: sans-serif;
    font-weight: 100;
    padding: 32px;
}

.centerMe h1 {
    text-align: center;
    padding: 0;
}

.loader {
    position: relative;
    width: 64px;
    margin-left: calc(50% - 32px);
    height: 64px;
    border: 2px solid hotpink;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    animation: spinMe 400ms linear infinite;
}

@keyframes spinMe {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}