#wrapper:has(.blog) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper:has(.blog) header {
  text-align: left;
  max-width: 900px;
  width: calc(100% - 64px);
  padding: 0;
  font-size: 1.5em;
}

#wrapper:has(.blog) header a {
  margin: 0;
}

#wrapper:has(.blog) section {
  margin: 0;
  margin-top: 32px;
}

.blog {
  width: calc(100% - 64px);
  margin: 32px 0;
  max-width: 900px;
}

.rss-item {
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid;
  position: relative;
  transition: opacity 300ms linear 0s;
}

.rss-item:hover {
  opacity: 1 !important;
}

.rss-feed:hover .rss-item {
  opacity: .5;
}

.blog h2 {
  padding-left: 0;
}

.blog a {
  color: var(--primary);
  text-decoration: none;
  transition: filter 300ms linear 0s;
}

.blog a:hover {
  filter: brightness(200%);
}

.blog h3 {
  width: fit-content !important;
  margin-top: 0;
}

.blog p {
  margin: 0;
}

.dateDiv {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 0.75rem;
}

@media screen and (max-width:900px) {
  #wrapper:has(.blog) header {
    position: fixed;
    justify-content: unset;
  }
}